body{
    background-image: url("cyote.png");
    background-size: 
}

.button1:active {
    
    transform: translateY(4px);
  }

.button2:active {
    transform: translateY(4px);
  }
  
.button3:active {
    transform: translateY(4px);
  }
.button1{
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 40px;
}
.button2{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}

.button3{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}
